@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
  --soft-cyan: hsl(174, 77%, 80%); /* Full Slider Bar*/
  --strong-cyan: hsl(174, 86%, 45%); /* Slider Backround*/
  --light-grayish-red: hsl(14, 92%, 95%); /* Discount Background*/
  --light-red: hsl(15, 100%, 70%); /* Discount Text*/
  --pale-blue: hsl(226, 100%, 87%); /* CTA Text */
  --white: hsl(0, 0%, 100%); /* Pricing Component Background*/
  --very-pale-blue: hsl(230, 100%, 99%); /* Main Background */
  --light-grayish-blue-slider: hsl(224, 65%, 95%); /* Empty Slider Bar*/
  --light-grayish-blue-background: hsl(223, 50%, 87%); /*Toggle Background */
  --grayish-blue: hsl(225, 20%, 60%); /* Text*/
  --dark-desaturated-blue: hsl(227, 35%, 25%); /* Text & CTA Background*/
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--very-pale-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(images/bg-pattern.svg);
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  body {
    display: grid;
    place-content: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

main{
  display: grid;
  gap: 4rem;
}

@media (max-width: 1024px){
   main{
    min-height: 100vh;
    margin-top: 4rem;
   } 
}

hr {
  width: calc(100% + 3rem);
  transform: translateX(-1.5rem);
  margin: 2rem 0;
  opacity: 0.1;
}

/* Title */

.title {
  position: relative;
  text-align: center;
}

@media(max-width:1024px){
  .title{
    font-size: 0.8rem;
  }
}

.title .title-content {
  position: relative;
}

.title p {
  color: var(--grayish-blue);
  margin: 0.5rem auto 0 auto;
  max-width: 22ch;
}

.title img {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

/* Card */

.card {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 320px;
  padding: 1.5rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .card {
    width: 550px;
    padding: 2rem;
  }
}

.card .card-top {
  display: grid;
  gap: 2rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .card .card-top {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
  }
}

.card p {
  color: var(--grayish-blue);
}

.card .page-views p {
  font-weight: 800;
  letter-spacing: 2px;
}

@media (min-width: 1024px) {
  .card .page-views {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

/* Slider */

@media (min-width: 1024px) {
  .slider {
    grid-row: 2/2;
    grid-column: 1/3;
  }
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 10px;
  background-image: linear-gradient(
    90deg,
    var(--strong-cyan) var(--percentage),
    var(--light-grayish-blue-slider) var(--percentage)
  );
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: var(--strong-cyan);
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0px 0px 35px 8px rgba(8, 209, 236, 0.1);
  transition: all 0.3s ease-in;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: hsl(174, 88%, 36%);
}

input[type="range"]::-moz-range-thumb {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: var(--strong-cyan);
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0px 0px 35px 8px rgba(8, 209, 236, 0.1);
  transition: all 0.3s ease-in;
}

input[type="range"]::-moz-range-thumb:hover {
  background-color: hsl(174, 88%, 36%);
}

/* Pricing */

.card .pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .card .pricing {
    grid-row: 1/1;
    grid-column: 2/3;
  }
}

/* Billing */

.card .billing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9rem;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .card .billing {
    grid-row: 3/3;
    grid-column: 1/3;
  }
}

.card .billing .discount {
  display: grid;
  place-content: center;
  background-color: hsl(15, 36%, 89%);
  padding: 0 0.4rem;
  border-radius: 20px;
}

.card .billing .discount p {
  font-size: 0.8rem;
  color: var(--light-red);
  font-weight: 800;
}

.card .billing .discount p span {
  display: none;
}

@media (min-width: 1024px) {
  .card .billing .discount p span {
    display: inline-block;
  }
}

/* Toggle Box */

.card .toggle-box {
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 25px;
  background-color: var(--light-grayish-blue-background);
  border-radius: 20px;
  transition: all 0.3s ease-in;
}

.card .toggle-box input {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

/* Details */

@media (min-width: 1024px) {
  .card .card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card .card-details ul {
  display: grid;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .card .card-details ul {
    text-align: left;
  }
}

.card .card-details ul li {
  font-size: 0.9rem;
  color: var(--grayish-blue);
}

.card .card-details ul li:before {
  content: url(images/icon-check.svg);
  margin-right: 1rem;
}

.card .card-details button {
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.7rem 3rem;
  border: none;
  border-radius: 20px;
  color: var(--pale-blue);
  background-color: var(--dark-desaturated-blue);
  transition: all 0.3s ease-in;
}

@media (min-width: 1024px) {
  .card .card-details button {
    margin: 0;
  }
}

.card .card-details button:hover {
  color: #fff;
}

/* Utility */

.checked {
  left: 18px !important;
}

@media(min-width: 1024px){
  .checked{
    left: 35px !important;
  }
}

.toggleBackground {
  background-color: var(--strong-cyan) !important;
}
